* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
}

h1 {
    color: darkgreen;
    margin-right: 100px;
    margin-left: 100px;
    text-transform: uppercase;
}
/* target all h4 headers, and the inhereted <em> text (Inherited inside the h4 headers) */
h4, h4 > em {
    background-color: coral;
    padding: 10px;
}

/* Change the paragraphs so they're blue */
p {
    color:blue;
    font-size: 14px;

}

link {
    color:rgb(255, 0, 200);
    

}

a {
    color:rgb(43, 99, 66);
    

}

a:hover {
    background-color: cyan;
}

p.What {
    color: orangered;
}

#history {
    background-color: rgb(255, 174, 0);
}